/* .navbar {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  background: linear-gradient(to right, #a2d2ff, #e0f7fa);
  border-radius: 12px;
  margin: 1rem;
}

.navbar a {
  font-weight: bold;
  color: #333;
  text-decoration: none;
} */
