/* Home.css */

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #4facfe;
  color: white;
}

.home-container {
  min-height: 100vh;
  padding: 20px;
}

/* Navbar */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #4A90E2;
  backdrop-filter: blur(10px);
  padding: 15px 25px;
  border-radius: 12px;
  margin-bottom: 30px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  color: white;
  width: 70%;
  margin: 0 auto 30px;
  height: 50px;
}

.nav-bar ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.nav-bar li {
  cursor: pointer;
  font-weight: 500;
  padding: 6px 12px;
  border-radius: 6px;
  transition: background 0.3s;
}

.nav-bar li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Search bar */
.search-bar {
  display: flex;
  align-items: center;
  max-width: 500px;
  margin: 0 auto 30px;
  background: #5e9eda;
  backdrop-filter: blur(8px);
  border-radius: 50px;
  padding: 10px 20px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.search-bar input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 16px;
  padding: 8px 0;
  /* ::placeholder {
    color: rgba(255, 255, 255, 0.05);
  } */
}

.search-bar button {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

/* Weather card */
.weather-card {
  max-width: 800px;
  margin: 0 auto 30px;
  background-color: #4A90E2;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #dddddd;
}

.weather-card h2 {
  margin-bottom: 8px;
}

.weather-card .description {
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 15px;
}

.weather-card .temp {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px;
}

.weather-card .extra {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
}

.weather-icon {
  width: 300px;
  height: 300px;
}

/* Chart card */
.chart-card {
  max-width: 800px;
  margin: 0 auto;
  background-color: #4A90E2;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 20px 30px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
   height: 300px;
}

.chart-card h3 {
  margin-bottom: 20px;
}

.detail-button {
  margin-top: 12px;
  padding: 8px 16px;
  background-color: #00aaff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}
.detail-button:hover {
  background-color: #0077cc;
}
